@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&family=Bellota+Text&family=Indie+Flower&family=Mulish&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Bellota+Text&family=Indie+Flower&family=Mulish&family=Poppins&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
}
.head{
    background-image:url(https://images.unsplash.com/photo-1585747860715-2ba37e788b70?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2074&q=80);
    background-size: cover;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.593);
    
    /* width: 100%; */
    
    height: 800px;
    background-position: center center;
    background-attachment: fixed;
    z-index: -1;
    transition: all 1s linear;
    
}
.gradient{
    position: absolute;
    top: 0px;
    height: 800px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.206); */
    
}
.nav{
    display: flex;
    /* border: 2px solid red; */
    /* width: 100%; */
    color: white;
    padding: 20px 70px ;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}
.logo{
    /* border: 2px solid yellow; */
    font-size: 30px;
    z-index: 2;
}
.navbar nav{
    display: flex;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.navbar li{
    list-style: none;
    z-index: 1;
    margin: 0px 20px;
}
.navbar button{
    width: 160px;
    height: 50px;
    background-color: #b58f60;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.177);
    transition: all .3s ease-out;
    
}
.navbar button:hover{
    /* background-color: #ad814b; */
    /* color: white; */
    box-shadow: inset 160px 0 0 0 rgba(0, 0, 0, 0.175) ;
    color: white;
}
.hero-text{
    color: white;
    /* border: 2px solid red; */
    width: 45%;
    position: absolute;
    right: 50px;
    top: 200px;
}
.heading h4{
    color: #b58f60;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 0;

}
.heading h1{
    margin: 0%;
    font-size: 60px;
}
.hero-text h1 span{
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.text-below{
    border-left: 2px solid #b58f60;
    margin: 0px 5px;
    height: 200px;
    width: 450px;
    padding-left: 90px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(222, 222, 222);
    

}
.text-below button{
    background-color: transparent;
    border:2px solid #b58f60;
    color: #b58f60;
    padding: 10px;
    margin-top: 40px;
    box-shadow: inset 0 0 0 0 #ad814b;
    transition: .5s all linear;
}
.text-below button:hover{
    box-shadow:inset 0 0 150px 0 #b58f60;
    color: white;
}


/* service list */
.service-list{
    /* border: 2px solid yellow; */
    height: 350px;
    display: flex;
}
.service{
    position: relative;
    width: 25%;
    /* border: 2px solid red; */
    text-align: center;
    /* padding-top: 60px; */
    color: white;
    padding: 60px 40px;
    line-height: 1.5;
    letter-spacing: 1px;
    /* font-weight: 200; */

}
.service p{
    font-size: 18px;
}

.service:nth-child(2n){
    background-color: #ad814b;
}
.service:nth-child(2n-1){
    background-color: #b58f60;
}


.service-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin: auto;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -25%;
    left: 25%;

}
#service-photo1{
    background-image: url(https://preview.colorlib.com/theme/barbero/images/services-1.jpg.webp);
}
#service-photo2{
    background-image: url(https://preview.colorlib.com/theme/barbero/images/services-2.jpg.webp);
}
#service-photo3{
    background-image: url(https://preview.colorlib.com/theme/barbero/images/services-3.jpg.webp);
}
#service-photo4{
    background-image: url(https://preview.colorlib.com/theme/barbero/images/services-4.jpg.webp);
}

/* about us */
.aboutUs{
    /* width: 99%; */
    height: 600px;
    /* border: 2px solid black; */
    padding: 0px 70px;
    display: flex;
    justify-content: center;
}
.about-pic{
    background-image: url(jason-leung-2seUdPQNy_I-unsplash.jpg);
    background-position: center;
    background-size: 100%;
    width: 50%;
}
.about-text{
    width: 50%;
    /* border: 2px solid yellow; */
    padding: 80px 50px;
    padding-right: 0%;
}
.about-text h4{
    color: #ad814b;
    font-size: 18px;
    margin: 0;
}
.about-text h1{
    margin-top: 0%;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
}
.about-text p{
    line-height: 2;
    font-size: 18px;
    width: 450px;

}
.experience{
    background-color: #b58f60;
    padding: 10px ;
    width: 300px;
    display: flex;
    color: white;
    align-items: center;
    
}
.experience .calender{
    background-color: black;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    padding: 10px 0px;
    box-sizing: border-box;
}
.exp-text{
    /* border: 2px solid red; */
    margin: 0px 20px;
}
.exp-text h2{
    margin: 0%;
    font-family: "Poppins";
    font-weight: bolder;
}
.exp-text p{
    margin: 0%;
    width: fit-content;
    font-weight: 900;
}

/* services */
#service{
    height: 1100px;
}
.service-bg{
    background-image: url(https://preview.colorlib.com/theme/thebarber/img/banner/banner_service.png);
    background-size: cover;
    height: 600px;
    box-shadow: inset 1400px 0 0 0  rgba(0, 0, 0, 0.169);
    text-align: center;
    /* padding: 100px 0px; */
    
    
}
.our-service {
    width: fit-content;
    /* border: 2px solid red; */
    margin: auto;
    padding: 100px 0px;
    color: white;
    letter-spacing: 2px;
}
.our-service i{
    font-size: 30px;
}
.services{
    margin: auto;
    width: 90%;
    /* height: 700px; */
    /* border: 2px solid greenyellow; */
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 20px 0 black;
    justify-content: center;
    position: relative;
}
.service-box{
    width: 460px;
    /* border: 2px solid red; */
    height: 500px;
    padding: 40px 50px;
}
.service-box .box{
    border-bottom: 1px solid rgb(211, 211, 211);
    /* width: 99%; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    font-family:"Poppins" , sans-serif;
    font-size: 12px;
}
.box .left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box .left .pic{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    /* border: 2px solid black6 */
    background-size: cover;
    background-position: center;

}
.right{
    color: #ad814b;
}
.appointment-btn button{
    color: white;
    background-color: #b58f60;
    padding: 10px 20px;
    font-size: 16px;
    margin: 50px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.1);
    transition: all .5s linear;
    border: none;
}
.appointment-btn button:hover{
    box-shadow: inset 0 100px 0px 0px rgba(0, 0, 0, 0.1) ;
}

/* form popup */
.form{
    margin: auto;
    width: fit-content;
    /* height: 500px; */
    padding: 50px 20px;
    border: 2px solid black;
    box-shadow: 0 0 0 0 gray;
    text-align: center;
    display: none;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 250px;
    
}
.form input,select{
    width: 250px;
    padding: 10px;
    margin: 15px;
}

.form input[type = 'submit']{
    width: 530px;
    background-color: #ad814b;
    color: white;
    border: none;
    font-size: 20px;
}
#close{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 20px;
}
#thankyou{
    display: none;
}

/* team */
.team{
    height: 600px;
    background-color: black;
    /* margin-top: 500px; */
    color: white;
    text-align: center;
    padding: 50px 0px;

}
.team-heading{
    font-size: 25px;
}
.team-heading span{
    color: #ad814b;
}

.team-members{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-members button{
    padding: 10px 20px;
    color: white;
    background-color: #ad814b;
    border: none;
}
#james{
    box-shadow: #525252 0px 0px 5px 5px;
}
.barber-intro{
    /* border: 2px solid white; */
    width: 99%;
    height: 350px;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
.barber-pic{
    width: 25%;
    /* border: 2px solid white; */
    background-size: cover;
}
.about-barber{
    width: 400px;
    /* border: 2px solid white; */
    text-align: left;
    padding: 20px 40px;
}
.about-barber p{
    color: gray;
    line-height: 1.5;
    font-size: 18px;
}
.about-barber i{
    font-size: 25px;
    margin: 5px;
}
.barber-service-list{
    width: 20%;
    /* border: 2px solid white; */
    padding: 20px ;
    text-align: left;
}
.barber-service-list li{
    list-style: none;
    font-size: 20px;
    color: gray;
    line-height: 1.5;
}


/* newsletter */

.newsletter{
    height: 350px;
    padding: 50px 0px;
    background-color: #ad814b;
    display: flex;
    justify-content: center;
}
.newsletter-img{
    width: 26%;
    background-image: url(Screenshot_2023-10-01_142945-removebg-preview.png);
    background-size: 100% 100%;
}
.newsletter-text{
    width: 40%;
    /* border: 2px solid red; */
    padding: 50px 10px;
    color: white;
}
.newsletter-text h3{
    margin: 2px;
}
.newsletter-text h1{
    margin: 2px;
    font-size: 50px;
}
.newsletter-text p{
    margin: 20px 2px;
    line-height: 1.5;
    color: rgb(220, 220, 220);
}
.newsletter-text input{
    padding:15px 20px;
    width: 300px;
    border: none;
    margin-top: 50px;
}
.newsletter-text button{
    color: white;
    background-color: black;
    padding:15px 10px;
    border: none;
}